.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  -webkit-overflow-scrolling: touch;

  &::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: opacity 0.3s ease 0s;
  }

  &._active {
    opacity: 1;
    visibility: visible;

    &::before {
      opacity: 1;
    }
  }

  // .modal__content

  &__content {
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
  }
}

.success-modal,
.error-modal {
  display: none;
  padding: 20px 30px;
  width: 500px;
  height: 150px;
  color: #fff;
  background-color: $orangeColor;

  @media (max-width: 600px) {
    padding: 15px 20px;
    width: 100%;
  }

  // .success-modal__logo

  &__logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;

    &:not(:last-child) {
      margin: 0 0 30px;
    }
  }

  // .success-modal__text

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 142%;
  }
}

.success-modal {
  &._active {
    display: block;
  }
}

.error-modal {
  flex-wrap: wrap;
  justify-content: space-between;

  &._active {
    display: flex;
  }

  // .error-modal__image

  &__image {
    width: 50px;
    height: 50px;
  }

  // .error-modal__text

  &__text {
    flex: 0 1 100%;
  }
}

.checkout-modal {
  display: none;
  flex-direction: column;
  width: 400px;
  height: 600px;
  background-color: $orangeColor;
  padding: 20px;
  color: #fff;
  line-height: 150%;

  &._active {
    display: flex;
  }

  // .checkout-modal__title

  &__title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    color: $mainColor;
  }

  // .checkout-modal__list

  &__list {
  }

  // .checkout-modal__bottom

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  // .checkout-modal__text

  &__text {
    font-size: 18px;
  }

  // .checkout-modal__total-price

  &__total-price {
    font-size: 22px;
  }

  // .checkout-modal__payment

  &__payment {
    font-size: 24px;
    text-align: center;
    margin: 30px 0 0;
  }
}

.list-modal {
  flex: 1 1 auto;
  max-height: 400px;
  counter-reset: item;
  margin-bottom: 10px;
  overflow: auto;

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      margin: 0 0 10px;
    }
  }

  &__title {
    flex: 0 0 35%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 22px;

    &::before {
      font-size: 22px;
      counter-increment: item;
      content: counter(item) '. ';
    }
  }

  &__quantity {
    font-size: 26px;
    margin: 0 5px;
  }

  &__price {
    flex: 0 0 140px;
    font-size: 22px;
  }
}
